body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.actions {
    min-height: 20px;
    padding: 19px 0 0;
    margin-bottom: 20px;
    text-align: center;
}

.actions a {
    margin-right: 15px;
    padding: 6px 18px;
}

.well .glyphicon {
    margin-right: 5px;
    position: relative;
    top: 3px;
}

lesson-menu li .glyphicon {
    float: right;
}

footer {
    margin: 50px 0;
}

.terminal {
    height: 300px;
    -webkit-box-shadow: 6px 6px 7px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 6px 7px -2px rgba(0,0,0,0.6);
    box-shadow: 6px 6px 7px -2px rgba(0,0,0,0.6);
}

.terminal-viewport pre {
    color: #F6F6FF;
}